.services-btn {
  padding-top: 46px;
}

.services-btn__learn {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-family: $first-font-family;
  font-weight: 700;
  text-transform: uppercase;
  color: $third-font-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: #a00000;
  padding-top: 19px;

}
