.services-btn {
  padding-top: 46px;
}

.services-btn__learn {
  font-family: $first-font-family;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  color: $third-font-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: solid 2px white;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  width: 196px;
  height: 54px;
  padding: 10px 36px;
  margin-right: 20px;
  background-color: #a00000;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
}

.services-btn__learn:hover {
  color: $first-font-color;
  background-color: $second-main-color;
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  border: none;
}
