.services-text__title {
  font-family: $first-font-family;
  font-size: 30px;
  color: $third-font-color;
  line-height: 0.8;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 46px;
}

.services-text__description {
  font-family: $first-font-family;
  font-size: 16px;
  color: $third-font-color;
  line-height: 1.5;
  text-decoration: none;
}
