ul,
ol {
  list-style: none;
}

button {
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
select {
  cursor: pointer;
}
