.section-button-play-video {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 66px;
  height: 66px;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 204, 0);
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  outline: none;
  cursor: pointer;
  &:hover .section-button-play-video__ico {
    fill: $first-main-color;
  }
}
.section-button-play-video__ico {
  align-self: center;
  width: 20px;
  height: 20px;
}
