.transport {
  position: relative;
  width: 100%;
  //   padding-top: 150px;
  padding-bottom: 250px;
  //   background-image: linear-gradient(
  //     0deg,
  //     rgba(255, 204, 0, 0.70196),
  //     rgba(186, 0, 0, 0)
  //   );

  //   background-repeat: no-repeat;
  //   background-size: cover;
}

// url('../images/transport/video_bg_fon.jpg')

.transport-video-bg {
  min-width: 100%;
  height: 700px;
}
.content-position {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
}
