.footer-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer-list__item {

    &--contact {
        width: 370px;
    }

    &--about, &--social {
        width: 270px;
    }
}

.footer-list__title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-family: $first-font-family;
    color: $first-main-color;
    margin-bottom: 32px;
}