.form {
  display: block;
  width: 571px;
  height: 535px;
  background-color: lightblue;
  font-size: 0;
  overflow: hidden;

  &__label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    padding: 20px;
    background-color: lightpink;
    cursor: pointer;
  }

  &__input {
    &:checked + .form__label {
      background-color: crimson;
    }
  }

  &__content {
    position: relative;
    font-size: 16px;
    height: 100%;
  }

  &__content-express {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s ease-in-out;
    padding: 40px;
  }

  &__content-logistics {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: all 0.3s ease-in-out;
    padding: 40px;
  }
}

#form__express:checked ~ .form__content .form__content-express {
  transform: translateX(100%);
}

#form__logistics:checked ~ .form__content .form__content-logistics {
  transform: translateX(-100%);
}

//

.form__item-content {
  font-size: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.9s ease-in-out;
}

.form__item-input:checked ~ .form__item-label {
  color: brown;
}

.form__item-input:checked ~ .form__item-content {
  height: 100%;
  font-size: 14px;
}

* {
  outline: 1px solid blue;
}

ul,
li {
  list-style: none;
}
